<app-header />

<main>
  <div id="dashboard">
    <div
      appDiv
      [image]="{ src: 'status.png', alt: 'Server status' }"
      title="Server status"
      class="dashboard-item"
    >
      <app-server-status />
    </div>

    <div
      appDiv
      class="dashboard-item"
      [image]="{ src: 'globe.png', alt: 'globe png' }"
      title="Network traffic"
    >
      <app-traffic />
    </div>

    <div
      appDiv
      class="dashboard-item"
      [image]="{ src: 'list.png', alt: 'list png' }"
      title="Service tickets"
    >
      <app-tickets />
    </div>
  </div>
</main>
