<section id="tasks">
  <header>
    <h3>{{ selectedUser?.name }}</h3>
    <menu>
      <button>Create new task</button>
    </menu>
  </header>

  <ul>
    @for(task of selectedUserTask; track task.id){
    <li>
      <article>
        <div>
          <h4>{{ task.title }}</h4>
          <time>{{ task.dueDate | date : "fullDate" }}</time>
        </div>
        <p class="summary">{{ task.summary }}</p>
        <p class="actions">
          <button>Mark as complete</button>
        </p>
      </article>
    </li>
    }
  </ul>
</section>
